@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&family=Space+Mono&display=swap');

/*
Shared Styles
*/

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html, body {
    width: 100%;
    height: 100%;
    font-family: 'Poppins', sans-serif;
    background-color: rgb(97, 160, 160);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

/*
Main-Container Styles
*/

.main {
    width: 290px;
    height: 180px;
    padding: 18px;
    background-color: #fdfdfd;
    border-radius: 3.8px;
    transition: all 700ms ease-in-out ;

}

.main:hover {
    box-shadow: blue 0px 0px 0px 2px inset, rgb(255, 255, 255) 10px -10px 0px -3px, rgb(31, 193, 27) 10px -10px, rgb(255, 255, 255) 20px -20px 0px -3px, rgb(255, 217, 19) 20px -20px, rgb(255, 255, 255) 30px -30px 0px -3px, rgb(255, 156, 85) 30px -30px, rgb(255, 255, 255) 40px -40px 0px -3px, rgb(255, 85, 85) 40px -40px;
} 


.inputTxt {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin: 24px 0;
}

#inputTxt, #btn {
    height: 40px;
    width: calc(100%/2 - 22px);
    text-align: center;
    border-radius: 4px;
    outline: none;
}

#inputTxt {
    padding-left: 10px;
}

#btn {
    transition: all 140ms ease-in-out;
}

#btn:active {
    transform: scale(0.96);
}

